h1{
    height:80px;
    font-size: 65px;
    text-align: center;
    color: #5A4938;
    background-color: #CBA077;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: Georgia;
    text-shadow: 1px 2px beige
  }
  
  hr{
      height: 5px;
      border: none;
      background-color: #5A4938;
      margin-bottom: 0px;
      margin-top: 0px; 
  }
  
  h2{
    font-size: 30px;
    
  }
  
  
  .title{
      color: #BB7B41;
      text-align: left;
      margin-bottom: 10px;
      font-family: Georgia;
      text-shadow: 1px 2px #5A4938
      
  }
  
  p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 23px;
    text-align: justify;
    color: #5A4938;
    font-family: Verdana;
  }
  
  .name{
    color: #BB7B41;
    text-align: center;
    margin-bottom: 10px;
    margin-left: -60px;
    height:50px;
    font-size: 45px;
    font-family: Georgia;
    text-shadow: 1px 2px #5A4938
  }
    

   .childhood_images img {
    width: 200px;
    height: 200px;
    display: inline-flex;
    padding-left: 20px;
    margin: 5px;
    opacity: 1;
    border-radius: 20px;
    margin: -10px;
    opacity: 1;
    border-radius: 20px;
  }


  .childhood_images img:hover {
    box-shadow: 0 0 10px 8px #5A4938;
    }

  .teen_images img {
    width: 200px;
    height: 200px;
    margin: 5px;
    opacity: 1;
    border-radius: 20px;
  }

  .teen_images a{
    float: left;
    margin: -10px;
    opacity: 1;
    border-radius: 20px;
  }

  .teen_images{
    width: fit-content;
  }

  .teen_images img:hover {
    box-shadow: 0 0 10px 8px #5A4938;
    }

  .college_images img {
    width: 200px;
    height: 200px;
    margin: 5px;
    opacity: 1;
    border-radius: 20px;
  }

  .college_images a{
    float: left;
    margin: -10px;
    opacity: 1;
    border-radius: 20px;
  }

  .college_images{
    width: fit-content;
  }

  .college_images img:hover {
    box-shadow: 0 0 10px 8px #5A4938;
    }

  
 .nav_buttons a { 
    display: inline-flex;
    color: #BB7B41;
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: 1px 2px #5A4938
    }
      
      .nav_buttons a{
        font-size: 20px;
      }

    
  a:hover {
    color: black;
    }

  .home_button img {
    position: fixed;
    bottom: 20px;
    left: -235px;
    cursor: pointer;
    width: 60px;
    height: auto;
    opacity: 0.75;
  }

  .home_button img:hover{
    opacity: 1;
  }