  h1{
    height:80px;
    font-size: 65px;
    text-align: center;
    color: #5A4938;
    background-color: #CBA077;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: Georgia;
    text-shadow: 1px 2px beige
  }
  
  hr{
      height: 5px;
      border: none;
      background-color: #5A4938;
      margin-bottom: 0px;
      margin-top: 0px; 
  }
  
  h2{
    font-size: 30px;
    
  }
  
  
  .title{
      color: #BB7B41;
      text-align: left;
      margin-bottom: 10px;
      font-family: Georgia;
      text-shadow: 1px 2px #5A4938
      
  }
  
  p{
    font-size: 20px;
    font-weight: bolder;
    line-height: 23px;
    
    text-align: justify;
    color: #5A4938;
    font-family: Verdana;
    text-shadow: 1px 1px beige
  }
  
  .name{
    color: #BB7B41;
    text-align: center;
    margin-bottom: 10px;
    height:50px;
    font-size: 45px;
    font-family: Georgia;
    text-shadow: 1px 2px #5A4938
  }
  
  .adventure a{
    width:fit-content;
    margin-left: 380px; 
    margin-top: -18px; 
    margin-bottom: 95px;
    font-size: 20px;
    text-shadow: 1px 2px #5A4938
    }
    
  .comedy a{
  width:fit-content;
  margin-left: 580px;
  margin-top: -120px; 
  margin-bottom: -15px;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 2px #5A4938
  }

  .non-fiction a{
    width:fit-content;
    margin-left: 750px;
    margin-top: -48px; 
    margin-bottom: -15px;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 2px #5A4938
    }
  
  
  
    a {
      display: block;
      color: #BB7B41;
      padding-left: 20px;
      padding-right: 25px;
      text-decoration: none;
      margin-top: 15px;
      margin-bottom: 30px;
      margin-right: 25px;
      font-size: 28px;
      font-family: Verdana;
      font-weight: bold;
      }

      
    a:hover {
      color: black;
      }

  video{
      width: 50%;
      height: 300px;
      float: left;
      margin-top: -410px;
      margin-left: 500px;
      border-radius: 6px;
      padding:50px 5px 5px 5px;
      align-items: center;
      background-color: #CBA077;
      border-radius: 20px;
      border: 10px solid #5A4938;
      }
  
   img{
      width: 300px;
      height: 350px; 
      margin-left: 150px;
      margin-top: -40px; 
      border-radius: 20px;  
      border: 10px solid #5A4938;
      }

  .home_button img {
    position: fixed;
    bottom: 20px;
    left: -235px;
    cursor: pointer;
    width: 60px;
    height: auto;
    border: 0px;
    opacity: 0.75;
  }

  .home_button img:hover{
    opacity: 1;
  }

  